# Electron
dist-electron/
build-resources/

# Dependencies
node_modules/
Backend_Pio_Lindo/node_modules/
Frontent_Pio_Lindo/proyect_frontend_2/node_modules/

# Build outputs
Backend_Pio_Lindo/build/
Frontent_Pio_Lindo/proyect_frontend_2/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
