



/************************************** MENSAJE TOAST ****************************************/
#toast {
  max-width: 30%;
  min-width: 25%;
  position: fixed;
  bottom: -3%;
  right: 22%;
  transform: translate(-50%, -50%); /* Alinea al centro de la pantalla */
  user-select: none;
  z-index: 11;
  /* visibility: visible;
  display: block;  */
}
#toast .toast-body{
  display: flex;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 18px;
  letter-spacing: 1px;
  align-items: center;
}
#toast img{
  width: 30px;
}
.container-principal-listas {
  display: flex;
  flex-direction: column;
  height: 93vh; /* ocupa toda la pantalla */
}

/************************************** STYLES LISTA VENTAS ****************************************/
.container-agregar button,.container-buscador button, .modificar {
  font-weight: 500;
  font-size: 16px;
  background: #004d81;
  border: none;
  height: 36px;
  padding: 0 15px;
}
.container-opciones img{
  width: 20px;
}
.container-opciones{
  background: #212837;
  width: 100%;
  height: 5vh;
}

/* LISTAS GENERAL*/
.container-lista {
  display: flex;
  flex: 1;
  padding-bottom: 10px;     /* espacio pequeño para que no tape nada */
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea las tarjetas al principio */
  gap: 10px; /* Espaciado entre las tarjetas */
  /* min-height: 81vh;
  max-height: 100vh; Ajusta el contenedor al tamaño de la pantalla */
  overflow-y: auto; /* Habilita el scrollbar solo en el eje Y si es necesario */
  padding: 10px;
  box-sizing: border-box;
}

.container-lista .card {
  flex: 1 1 calc(33.3333% - 10px); /* Mantén tres tarjetas por fila */
  max-width: calc(33.3333% - 10px); /* Establece un ancho máximo */
  /* background: #252d3c; */
  color: #000000;
  font-size: 20px;
  /* min-height: 37vh; Altura fija para las tarjetas */
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border: 0px solid #ffffff;
}
.container-lista .card-header {
  background: rgb(40, 82, 107);
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
}

.iniciar button{
  /* padding: 3px 0px; */
  width: 100px;
  /* background: #2d3643; */
  border: none;
  border-radius: 0px;
}
.finalizar button{
  /* padding: 3px 0px; */
  width: 100px;
  background: #2d3643;
  border: none;
  border-radius: 0px;
}

.content-modal{
  background: #202e41;
  color: #f3f3f3;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.content-modal .modal-header{
  border-bottom: 1px solid #727272;
}
.content-modal .modal-footer{
  border-top: 1px solid #727272;
}

/* MODAL DETALLE FINALIZAR */
#modalFinalizarVenta .modal-lg-custom{
  max-width: 40%;
}



input[type="date"]{
  color: #cdcccc;
  font-size: 16px;
  background: #30445f;
  border: none;
  padding: 3px 12px;
}


.selected-card {
  background:#a9eec2f4; /* Cambia el color de fondo a rojo */
}

/********************************************* PAGINACION *******************************************/


:host ::ng-deep .custom-pagination a:focus,
:host ::ng-deep .custom-pagination a:hover {
  background-color: #3a7693 !important;
  color: #ffffff !important;
  /* border: 1px solid #5a5a5a !important; */
  outline: none !important;
}

::ng-deep .ngx-pagination {
  margin-bottom: 0 !important; /* Elimina el margen inferior */
  color: #ffffff !important;
}

/* ****************** Scrool Bar ****************** */
/* Contenedor con scroll */
/* .container-lista .card .card-body {
  max-height: 400px;
  overflow-y: auto;
} */

/* Scrollbar base (más delgada) */
.container-lista .card .card-body::-webkit-scrollbar { 
  width: 7px;  /* antes 10px → ahora más delgada */
}

/* Track (fondo) */
.container-lista .card .card-body::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* un leve gris para que se note */
  border-radius: 10px;
}

/* Thumb (barra que se mueve) */
.container-lista .card .card-body::-webkit-scrollbar-thumb {
  background-color: #9a9a9a; /* gris que se nota más */
  border-radius: 10px;
  border: 1px solid #dcdcdc; /* pequeño borde para destacar */
}

/* Hover del thumb (opcional) */
.container-lista .card .card-body::-webkit-scrollbar-thumb:hover {
  background-color: #6e6e6e; /* más oscuro al pasar el mouse */
}








/* ------------------------- @MEDIAS PARA DESKTOP-TABLET ---------------------*/
/* -------------------------------------------------------------------------- */
@media (max-width: 1000px) {
  /***** Container Productos y Venta ****/
  .container-seleccionar-productos, .container-venta{
    width: 50%;
  }
  .container-principal-agregar h5{
    font-size: 16px;
  }
  #modalFinalizarVenta .modal-lg-custom{
    max-width: 50%;
  }
}

/* ------------------------- @MEDIAS PARA TABLET ---------------------*/
/* ----------------------------------------------------------------- */
/* === Tablet === */
@media (max-width: 800px) {
  .container-lista .card {
    /**** CARDS ****/
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 0px);
  }
  /***** Container Productos y Venta ****/
  .container-seleccionar-productos{
    width: 45%;
  }
  .container-venta{
    width: 55%;
  }
  #toast{
    max-width: 55%;
    right: -6%;
  }
}


/* ------------------------- @MEDIAS PARA MOVIL ---------------------*/
/* ----------------------------------------------------------------- */

/* === Móvil === */
@media (max-width: 600px) {
  /************* CARDS *************/
  .container-lista .card {
    flex: 1 1 calc(100% - 10px);
    max-width: calc(100% - 0px);
  }

  #toast{
    max-width: 99%;
    right: -50%;
  }
  .custom-pagination {
    position: sticky;
    bottom: 0;
    padding: 8px;
    z-index: 10;
  }
  #modalFinalizarVenta .modal-lg-custom{
    max-width: 90%;
  }
}



/* ------------------------- @MEDIAS PARA MOVIL-SMALL ---------------------*/
/* ----------------------------------------------------------------- */

/* === Móvil === */
@media (max-width: 350px) {
  #toast{
    max-width: 99%;
    right: -50%;
  }
}