



/************************************** MENSAJE TOAST ****************************************/
#toast {
  max-width: 30%;
  min-width: 25%;
  position: fixed;
  bottom: -3%;
  right: 22%;
  transform: translate(-50%, -50%); /* Alinea al centro de la pantalla */
  user-select: none;
  /* visibility: visible;
  display: block;  */
}
#toast .toast-body{
  display: flex;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 18px;
  letter-spacing: 1px;
  align-items: center;
}
#toast img{
  width: 30px;
}

/************************************** STYLES LISTA VENTAS ****************************************/
.container-agregar button,.container-buscador button, .modificar {
  font-weight: 500;
  font-size: 16px;
  background: #004d81;
  border: none;
  height: 36px;
  padding: 0 15px;
}
.container-opciones img{
  width: 20px;
}
.container-opciones{
  background: #212837;
  width: 100%;
  height: 5vh;
}

/* LISTAS GENERAL*/
.container-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea las tarjetas al principio */
  gap: 10px; /* Espaciado entre las tarjetas */
  /* min-height: 81vh;
  max-height: 100vh; Ajusta el contenedor al tamaño de la pantalla */
  overflow-y: auto; /* Habilita el scrollbar solo en el eje Y si es necesario */
  padding: 10px;
  box-sizing: border-box;
}

.container-lista .card {
  flex: 1 1 calc(33.3333% - 10px); /* Mantén tres tarjetas por fila */
  max-width: calc(33.3333% - 10px); /* Establece un ancho máximo */
  /* background: #252d3c; */
  color: #000000;
  font-size: 20px;
  height: 37vh; /* Altura fija para las tarjetas */
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border: 0px solid #ffffff;
}
.container-lista .card-header {
  background: rgb(40, 82, 107);
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
}

.iniciar button{
  /* padding: 3px 0px; */
  width: 100px;
  /* background: #2d3643; */
  border: none;
  border-radius: 0px;
}
.finalizar button{
  /* padding: 3px 0px; */
  width: 100px;
  background: #2d3643;
  border: none;
  border-radius: 0px;
}

.content-modal{
  background: #202e41;
  color: #f3f3f3;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.content-modal .modal-header{
  border-bottom: 1px solid #727272;
}
.content-modal .modal-footer{
  border-top: 1px solid #727272;
}

/* MODAL DETALLE FINALIZAR */
#modalFinalizarVenta .modal-lg-custom{
  max-width: 40%;
}



input[type="date"]{
  color: #cdcccc;
  font-size: 16px;
  background: #30445f;
  border: none;
  padding: 3px 12px;
}


.selected-card {
  background:#a9eec2f4; /* Cambia el color de fondo a rojo */
}

/********************************************* PAGINACION *******************************************/


:host ::ng-deep .custom-pagination a:focus,
:host ::ng-deep .custom-pagination a:hover {
  background-color: #3a7693 !important;
  color: #ffffff !important;
  /* border: 1px solid #5a5a5a !important; */
  outline: none !important;
}

::ng-deep .ngx-pagination {
  margin-bottom: 0 !important; /* Elimina el margen inferior */
  color: #ffffff !important;
}

/* ****************** Scrool Bar ****************** */
/* Asegúrate de que el contenedor tenga un área de desplazamiento */
.container-lista .card .card-body {
  max-height: 400px; /* Ajusta la altura según tus necesidades */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

/* Scrollbar base */
.container-lista .card .card-body::-webkit-scrollbar { 
  width: 5px; /* Ancho de la barra de desplazamiento */
}

/* Fondo del scrollbar */
.container-lista .card .card-body::-webkit-scrollbar-track {
  background-color: #676666; /* Color de fondo del track */

}

/* Thumb del scrollbar */
.container-lista .card .card-body::-webkit-scrollbar-thumb {
  background-color: #e1dede; /* Color del thumb */
}