/************************************** MENSAJE TOAST ****************************************/
#toast {
  position: fixed;
  bottom: 20px;          /* separación desde abajo */
  left: 50%;
  transform: translateX(-50%);
  
  min-width: 30%;              /* DESKTOP */
  max-width: 500px;      /* opcional: no se expande demasiado */
  user-select: none;
  /* visibility: visible;
  display: block; */

  z-index: 99999;        /* siempre arriba */
}

#toast .toast-body {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 18px;
  letter-spacing: 1px;
}

#toast img {
  width: 30px;
}


.container-agregar button {
  font-weight: 500;
  font-size: 18px;
  background: #004d81;
  border: none;
}

.container_volver img{
  width: 35px;
}
/************************************** STYLES EN COMUN ****************************************/
.container-opciones{
  background: #212837;
  width: 100%;
  height: 45px;
}
.container_volver img{
  width: 35px;
}
/* LISTAS GENERAL*/
.container-lista{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  overflow: auto;
  max-height: 77vh;
  min-height: 50vh;
  margin: 18px 0px;
  letter-spacing: 1px;
}

.container-lista ul{
  border: none;
  width: 95%;
}
.container-lista ul li{
  font-size: 18px;
  font-weight: 400;
  padding: 0px;
  /* min-height: 49px; */
  color: #dcdcdc;
  background: #252d3c;
  border: none;
  border-bottom: 1px solid #545252ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-lista .cell-t{
  border-right: 1px solid #424347;
  padding: 3px 0px 2px 5px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-lista .container-btn img{
  width: 30px;
}


/************************* MODALES ************************/
/* GENERAL */
.content-modal{
  background: #202e41;
  color: #f3f3f3;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.content-modal .modal-header{
  border-bottom: 1px solid #727272;
}
.content-modal .modal-footer{
  border-top: 1px solid #727272;
}
.custom-ng-select {
  color: #cdcccc;
  font-size: 16px;
  background: #ffffff21;
  border: none;
  padding: 3px 12px;
  width: 100%;
  border-radius: 5px;
}
/* OPCIONES NGSELECT */
::ng-deep .custom-ng-select .ng-option {
  background-color: #2c3037; 
  color: #f4f4f4;
  padding: 2px;
}

.btn-principal button{
  border: none;
  font-size: 18px;
  font-weight: 600;  
}

#modalAgregarOpcion .modal-lg-custom{
  max-width: 80%; /* Puedes ajustar este valor según lo necesites */
}
#modalAgregarOpcion ul li{
  background: #233246;
}
#modalEliminarOpcion .modal-lg-custom, #modalEstadoOpcion .modal-lg-custom {
  max-width: 40%;
}

.opciones-lista{
  max-height: 77vh;
  min-height: 20vh;
}
.opciones-lista ul{
  border: none;
  width: 100%;
}







/************************* FORMS(INPUTS - OPTIONS) ************************/
.custom-select{
  width: 100%;
  border-radius: 7px;
  padding: 3px 7px;
}
.content-modal form input[type="text"],
.content-modal form input[type="password"],
.content-modal form input[type="number"],
.custom-select{
  color: #cdcccc;
  font-size: 18px;
  background: #2a3c55;
  border: none; /* Borde transparente por defecto */
  padding: 3px 12px;
  letter-spacing: 1px;
}
/* Estilos para el select option */
.custom-select option{
  color: #eaeaea;
  background: #3c4756;
}
.content-modal form input[type="text"]::placeholder,
.content-modal form input[type="password"]::placeholder,
.content-modal form input[type="number"]::placeholder {
  font-size: 15px;
  color: #c0c0c04b; /* Cambia el color según tu preferencia */
}

.container-buscador input[type="text"]::placeholder{
  font-size: 18px;
  color: #d6d6d6a2;
}
.container-buscador input{
  background: #39404a;
  color: #f4f4f4;
  border: none;
}


/* CHECK - BOX GRANDE */
.checkbox-grande {
  transform: scale(1.5); /* Ajusta el valor según el tamaño que desees */
  -webkit-transform: scale(1.7);
  background-color: #555F6D;
  border: none;
}



/* SELECT LISTA INSUMOS */
.custom-ng-select {
  color: #cdcccc;
  font-size: 16px;
  background: #30445f;
  border: none;
  padding: 3px 12px;
  width: 100%;
  border-radius: 5px;
}
/* OPCIONES NGSELECT */
::ng-deep .custom-ng-select .ng-option {
  background-color: #273a53; 
  color: #f4f4f4;
  padding: 2px;
}


/********************************************* ADVERTENCIAS ******************************************/
/*****************************************************************************************************/

/*Estilo de advertencias para la validacion de formulario*/
.advertencias {
  margin-top: 4px;
  color: salmon;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  line-height: 1; /* Asegura que el texto no tenga espacio extra */
}
.advertencias img {
  display: inline-block;
  vertical-align: middle; /* Asegura que la imagen esté alineada verticalmente */
}
.advertencias p {
  margin: 0; /* Elimina el margen extra que podría desalinear el texto */
  line-height: 1.2; /* Ajusta la altura de línea para el texto */
}

.is-invalid {
  border-color: #c77e76  !important; /* Color del borde */
  border: 1px solid #c77e76 !important;
  /* box-shadow: 0 0 5px rgba(250, 128, 114, 0.5); Sombra del borde difusa */
}

/****************************** SCROLL BAR INVISIBBLE  **************************************/
.container-lista::-webkit-scrollbar {
  width: 0.2em;
  background-color: #333333; /* Cambia el color de fondo del scroll */
}

.container-lista::-webkit-scrollbar-thumb {
  background-color: #8888888c; /* Cambia el color del thumb del scroll */
}




/********************************************* PAGINACION *******************************************/
/* :host ::ng-deep .pagination-first::before,
:host ::ng-deep .pagination-last::after {
  content: '' !important;
}

:host ::ng-deep .pagination-previous::before,
:host ::ng-deep .pagination-next::after {
  content: '' !important;
} */



:host ::ng-deep .custom-pagination a:focus,
:host ::ng-deep .custom-pagination a:hover {
  background-color: #3a7693 !important;
  color: #ffffff !important;
  /* border: 1px solid #5a5a5a !important; */
  outline: none !important;
}




.dropdown-item-opcion {
  padding: 8px 15px;
  cursor: pointer;
  border-bottom: 1px solid #4c5b77;
}

.dropdown-item-opcion:last-child {
  border-bottom: none;
}

.dropdown-item-opcion:hover {
  background: #50607d;
}
.ngx-pagination {
  padding: 0px;
}
.desktop{
  display: block;
}
.movil{
  display: none;
}

@media(max-width:800px){
  .desktop{
    display: none;
  }
  .movil{
    display: block;
  }

  /*** Encabezado ***/
  .container-buscador input{
    width: 90px;
  }
  .container-agregar button {
    font-size: 15px;
  }
  .container_volver img{
    width: 30px;
  }

  .container-lista ul li h3{
    font-size: 17px;
  }
  .container-lista ul li{
    font-size: 15px;
  }
  .container-buscador input[type="text"]::placeholder{
    font-size: 15px;
    color: #d6d6d6a2;
  }
  /* GENERAL */
  .content-modal{
    font-size: 15px;
  }
  #modalAgregarOpcion .modal-lg-custom{
    max-width: 100%; /* Puedes ajustar este valor según lo necesites */
  }
  #modalElimianrOpcion .modal-lg-custom, #modalEstadoOpcion .modal-lg-custom{
    max-width: 100%;
  }
  #modalAgregarOpcion .insumo label, #modalAgregarOpcion .cantidad-insumo label{
    width: 120px;
  }
  #toast{
    width: 99%;
  }
}

@media(max-width:300px){
  .container-lista ul li{
    font-size: 13px;
  }
}