

<div class="container-principal-Insumos">
  <!-- OPCIONES: VOLVER - BUSCAR - AGREGAR -->
  <div class="d-flex justify-content-around align-items-center px-3 py-2 container-opciones">
    <!-- Buscador -->
    <!-- <div class="container-buscador">
      <button class="btn p-0" title="Ver Reporte de Caja" (click)="showModalSelectFecha()"> <span class="px-0" ><img src="../assets/images/icons/icon-options/buscar.png" class="mx-1">Filtrar Cajas</span></button>
    </div> -->
    <!-- Buscador -->
    <div class="container-buscador px-2">
      <button class="btn btn-secondary px-2 px-sm-3"  title="Filtrar Movimientos" (click)="showModalSelectFecha()"> 
        <span class="desktop px-0 ">
          <img src="../assets/images/icons/icon-options/buscar.png" class="me-1">Filtrar Cajas
        </span>
        <span class="movil">Filtrar</span>
      </button>
    </div>
    <!-- Boton Agregar -->
    <!-- <div class="container-agregar">
      <button class="btn btn-secondary" (click)="showModal_Caja()">Aperturar Caja</button>
    </div> -->
    <!-- BOTON NUEVO MOVIMIENTO -->
    <div class="container-agregar px-2">
      <button class="btn btn-secondary px-2 px-sm-3" (click)="showModal_Caja()">
        <span class="desktop"> Agregar Caja </span>
        <span class="movil"> Agregar </span>
      </button>
    </div>
    
  </div>

  <!-- ********* LISTA CAJAS *********  -->
  <div class="container-lista">
 
    <ul class="list-group p-0" style="border: none;">
      <!-- TITULO PRINCIPAL -->
      <li class="list-group-item d-flex justify-content-between titulo_lista">
        <h3 class="m-0 px-2 py-2">Caja</h3>
        <!-- <button class="btn p-0" title="Ver Reporte de Caja" (click)="showModalSelectFecha()"> <span class="px-0" ><img src="../assets/images/icons/icon-options/buscar.png" class="mx-1">Filtrar Cajas</span></button> -->
      </li>        
      <!-- TITULOS -->
      <li class="list-group-item">
        <!-- DESKTOP -->
        <div class="desktop">
          <div class="row mx-0 d-flex align-items-center">         
              <div class="col-3 row mx-0 px-0">
                  <div class="col-2 cell-t text-center">N°</div>
                  <div class="col-5 cell-t">FECHA APERTURA</div>
                  <div class="col-5 cell-t">FECHA CIERRE</div>
              </div>
              <div class="col-7 row mx-0 px-0">
                  <div class="col-3 cell-t">SALDO INICIAL</div>
                  <div class="col-3 cell-t">EGRESO</div>
                  <div class="col-3 cell-t">INGRESO POR VENTAS</div>
                  <div class="col-3 cell-t">SALDO PRELIMINAR</div>
              </div>
              <div class="col-1 cell-t">ESTADO</div>
              <div class="col-1 text-center cell-t">OP</div>
          </div>
        </div>
        <!-- MOVIL -->
        <div class="movil">
            <div class="row mx-0 d-flex align-items-center">
                <div class="col-7 row mx-0 px-0">
                  <div class="col-2 cell-t text-center">N°</div>
                  <div class="col-10 cell-t">FECHA</div>
                  <!-- <div class="col-5 cell-t">FECHA CIERRE</div> -->
                </div>
                <div class="col-3 cell-t">ESTADO</div>
                <div class="col-2 text-center cell-t">OP</div>
            </div>
        </div>
      </li>
      <!-- LISTA DE CAJAS -->
      <li class="list-group-item" *ngFor="let c of lista_cajas | paginate: { itemsPerPage: 4, currentPage: page }; let i = index">
        <!-- ***************** DESKTOP *****************-->
        <div class="desktop">
          <div class="row mx-0 d-flex align-items-center" [style.background]="c.estado==0 ? '#233431' : {}">
            <!-- N° , FECHA APERTURA , FECHA FINAL -->
            <div class="col-3 row mx-0 px-0">
                <div class="col-2 cell text-center">{{i+1}}</div>
                <div class="col-5 cell">
                    <div class="col-12 px-0" style="color: #73b574; overflow-wrap: break-word;">{{c.fecha_i}}</div>
                    <div class="col-12 px-0">{{c.hora_i}}</div>
                </div>
                <div class="col-5 cell">
                    <div class="col-12 px-0" style="color: #cc7365; overflow-wrap: break-word;">{{c.fecha_c}}</div>
                    <div class="col-12 px-0">{{c.hora_c}}</div>
                </div>
            </div>
            <!-- SALDO DE PRELIMINAR -->
            <div class="col-7 row mx-0 px-0">
                <!-- SALDO INICIAL -->
                <div class="col-3 cell">
                  <div class="px-0 d-flex"> <span class="moneda">Bol:</span> {{c.bs_saldoi | number}}</div>
                  <div class="px-0 d-flex"> <span class="moneda">Arg:</span> {{c.ps_saldoi | number}}</div>
                </div>
                <!-- EGRESO -->
                <div class="col-3 cell">
                      <div class="px-0 d-flex"><span class="moneda">Bol:</span> {{c.bs_egreso | number}}</div>
                      <div class="px-0 d-flex"><span class="moneda">Arg:</span> {{c.ps_egreso | number}}</div>  
                </div>
                <!-- INGRESO POR VENTAS  -->
                <div class="col-3 cell">
                  <div class="px-0 d-flex"><span class="moneda">Bol:</span> {{c.bs_ingreso | number}}</div>
                  <div class="px-0 d-flex"><span class="moneda">Arg:</span> {{c.ps_ingreso | number}}</div>   
                  <div class="px-0 d-flex"><span class="moneda">Banco:</span> {{c.banca_ingreso | number}}</div>    
                </div>
                <!-- SALDO PRELIMINAR -->
                <div class="col-3 cell">
                  <div class="col-12 px-0"><span class="moneda">Bol:</span> {{c.bs_saldo_pre | number}}</div>
                  <div class="col-12 px-0"><span class="moneda">Arg:</span> {{c.ps_saldo_pre | number}}</div>   
                </div>
            </div>
            <!-- ESTADO -->
            <div class="col-1 cell container-estado">
              <div class="btn py-1 px-0" title="Desactivar Opcion" style="color: #f4f4f4;background: #335843;width: 95%;" *ngIf="c.estado==0" (click)="showModal_Cerrar(c)">Abierto</div>
              <div class="btn py-1 px-0" title="Activar Opcion" style="color: #f4f4f4;background: #583333;width: 95%" *ngIf="c.estado==1">Cerrado</div> 
            </div>
  
            <!-- OPCIONES -->
            <div class="col-1 btn-group container-btn">
              <button class="btn p-0" title="Ver Reporte de Caja" (click)="showModal_Reporte(c)"> <span class="px-0" ><img src="../assets/images/icons/icon-options/ver_reporte.png"></span></button>
              <button class="btn p-0" title="Ajuste de caja" *ngIf="c.estado == 0" (click)="showModal_Ajustes(c)"> <span class="px-0"><img src="../assets/images/icons/icon-options/ajustes.png"></span></button>
              <!-- <button class="btn p-0" title="Eliminar caja" *ngIf="c.bs_saldoi == c.bs_saldo_pre"> <span class="px-0"><img src="../assets/images/icons/icon-options/eliminar.png"></span></button> -->
            </div>
          </div>
        </div>
        <!-- ***************** MOVIL *****************-->
        <div class="movil">
          <div class="row mx-0 d-flex align-items-center" [style.background]="c.estado==0 ? '#233431' : {}">
            <!-- N° , FECHA APERTURA , FECHA FINAL -->
            <div class="col-7 row mx-0 px-0">
                <div class="col-2 cell text-center">{{i+1}}</div>
                <div class="col-10 row m-0 cell">
                    <div class="col-12 px-0">
                      <span style="color: #73b574; overflow-wrap: break-word;"> {{c.fecha_i}} </span> 
                      {{c.hora_i}}
                    </div>
                    <div class="col-12 px-0">
                      <span style="color: #cc7365; overflow-wrap: break-word;">{{c.fecha_c}}</span>
                      {{c.hora_c}}
                    </div>
                </div>
                <!-- <div class="col-5 cell">
                    <div class="col-12 px-0" style="color: #cc7365; overflow-wrap: break-word;">{{c.fecha_c}}</div>
                    <div class="col-12 px-0">{{c.hora_c}}</div>
                </div> -->
            </div>

            <!-- ESTADO -->
            <div class="col-3 cell container-estado">
              <div class="btn py-1 px-0" title="Desactivar Opcion" style="color: #f4f4f4;background: #335843;width: 95%;" *ngIf="c.estado==0" (click)="showModal_Cerrar(c)">Abierto</div>
              <div class="btn py-1 px-0" title="Activar Opcion" style="color: #f4f4f4;background: #583333;width: 95%" *ngIf="c.estado==1">Cerrado</div> 
            </div>
  
            <!-- OPCIONES -->
            <div class="col-2 btn-group container-btn">
              <button class="btn p-0" title="Ver Reporte de Caja" (click)="showModal_Reporte(c)"> <span class="px-0" ><img src="../assets/images/icons/icon-options/ver_reporte.png"></span></button>
              <button class="btn p-0" title="Ajuste de caja" *ngIf="c.estado == 0" (click)="showModal_Ajustes(c)"> <span class="px-0"><img src="../assets/images/icons/icon-options/ajustes.png"></span></button>
              <!-- <button class="btn p-0" title="Eliminar caja" *ngIf="c.bs_saldoi == c.bs_saldo_pre"> <span class="px-0"><img src="../assets/images/icons/icon-options/eliminar.png"></span></button> -->
            </div>
          </div>
        </div>

      </li>
      <li class="list-group-item custom-pagination py-2 px-0" *ngIf="paginacionActiva">
          <!-- Controles de paginación -->
          <pagination-controls 
          (pageChange)="page = $event" 
          previousLabel="Anterior" 
          nextLabel="Siguiente"
          [responsive]="true"           
          style="text-align: center; ">
         </pagination-controls>
      </li>
    </ul>
  </div>

</div>

<!-- ****************************** MENSAJE TOAST ***************************************** -->
<div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true">

  <div id="toast-body" class="toast-body">
    <span class="px-2" *ngIf="toast_tipo == 1"><img src="../assets/images/icons/icon-options/correcto.png"></span> 
    <span class="px-2" *ngIf="toast_tipo == 2"><img src="../assets/images/icons/icon-options/error.png"></span> 
    <span>{{mensaje_toast}}</span>
  </div>
</div>

<!-- ******************************************************  MODAL AGREGAR (CAJA)  *******************************************************  -->
<!-- ********************************************************************************************************************************************* -->
<div #modalCaja id="modalCaja" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (hidden.bs.modal)="resetFormCaja()">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center modal-lg-custom">
    <div class="modal-content content-modal">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalLabel">Nueva Caja</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- <form #formInsumo="ngForm" class="row g-3" (ngSubmit)="Agregar_Insumo()"> -->
          <form #formCaja="ngForm" class="row g-3">
            <!-- SALDO INICIAL BS. -->
            <div class="col-12 col-sm-6 mb-1 mb-sm-3">
              <label class="form-label">Saldo Inicial Bolivianos:</label>
              <input type="number" #bs_saldoi="ngModel" [(ngModel)]="caja_form.bs_saldoi" name="bs_saldoi" placeholder="" [class.is-invalid]="mostrarAdvertencias && ((caja_form.bs_saldoi ?? 0) <= 0 && (caja_form.ps_saldoi ?? 0) <= 0)" class="form-control" required>
              <div class="advertencias" *ngIf="mostrarAdvertencias && ((caja_form.bs_saldoi ?? 0) <= 0 && (caja_form.ps_saldoi ?? 0) <= 0)">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">Saldo Incial Invalido</p>
              </div>
            </div>
            <!-- SALDO INICIAL PS. -->
            <div class="col-12 col-sm-6 mb-1 mb-sm-3">
              <label class="form-label">Saldo Inicial Pesos:</label>
              <input type="number" #ps_saldoi="ngModel" [(ngModel)]="caja_form.ps_saldoi" name="ps_saldoi" placeholder="" [class.is-invalid]="mostrarAdvertencias && ((caja_form.ps_saldoi ?? 0) <= 0 && (caja_form.bs_saldoi ?? 0) <= 0)" class="form-control" required>
              <div class="advertencias" *ngIf="(ps_saldoi.touched || mostrarAdvertencias) && ((caja_form.ps_saldoi ?? 0) <= 0 && (caja_form.bs_saldoi ?? 0) <= 0)">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">Saldo Incial Invalido</p>
              </div>
            </div>
            <!-- TIPO DE CAMBIO. -->
            <div class="col-12 col-sm-6 ">
              <label class="form-label">Tipo de Cambio en Pesos</label>
              <input type="number" #tipo_cambio="ngModel" [(ngModel)]="caja_form.tipo_cambio" name="tipo_cambio" placeholder="" [class.is-invalid]="mostrarAdvertencias && ((caja_form.tipo_cambio ?? 0) <= 0 )" class="form-control" required>
              <div class="advertencias" *ngIf="mostrarAdvertencias && ((caja_form.tipo_cambio ?? 0) <= 0)">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">Tipo de Cambio Invalido</p>
              </div>
            </div>
            <div class="modal-footer btn-principal">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button class="btn btn-secondary" style="border: none;background: #006bb0;" (click)="AGREGAR_CAJA()">Agregar</button>
            </div>
          </form>
      </div>

    </div>
  </div>
</div>


<!-- ******************************************************  MODAL AGREGAR (AJUSTE)  *******************************************************  -->
<!-- ********************************************************************************************************************************************* -->
<div #modalAjuste id="modalAjuste" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (hidden.bs.modal)="resetForm_Ajuste()">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center modal-lg-custom">
    <div class="modal-content content-modal">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalLabel">Nuevo Ajuste</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- <form #formInsumo="ngForm" class="row g-3" (ngSubmit)="Agregar_Insumo()"> -->
          <form #formAjuste="ngForm" class="row g-3">
            <div class="col-12 mb-2 mt-3 d-flex"> 
              <div class="saldo_pre py-1"><p class="mb-1">Saldo Bs.</p> <span>{{caja_form.bs_saldo_pre}}</span></div>
              <div class="saldo_pre py-1" style="background: #243b5a;"><p class="mb-1">Saldo Ps.</p> <span>{{caja_form.ps_saldo_pre}}</span></div>
            </div>
            <!-- TIPO DE AJUSTE -->
            <div class="col-12 mb-4 mt-1">
              <label class="form-label">Tipo de Ajuste:</label>
              <select class="custom-select" #tipo="ngModel" [(ngModel)]="ajuste_form.tipo" name="tipo" [value]="0" [class.is-invalid]="mostrarAdvertenciasAjuste && ajuste_form.tipo==0" required>
                <option value=0>Seleccionar</option>
                <option value=1>Entrada</option>
                <option value=2>Salida</option>
              </select>
              <div class="advertencias" *ngIf="mostrarAdvertenciasAjuste && ajuste_form.tipo==0">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">Seleccionar Tipo de Ajuste</p>
              </div>
            </div>
            <!-- AJUSTE BS. -->
            <div class="col-6 col mb-4 mt-1">
              <label class="form-label">
                <span class="desktop">Ajuste Bolivianos:</span>
                <span class="movil">Ajuste Bs:</span>
              </label>
              <input type="number" #bs_ajuste="ngModel" [(ngModel)]="ajuste_form.bs_ajuste" name="bs_ajuste" placeholder="" [class.is-invalid]="mostrarAdvertenciasAjuste &&
              ((ajuste_form.bs_ajuste ?? 0) <= 0 && (ajuste_form.ps_ajuste ?? 0) <= 0 || (ajuste_form.tipo == 2 && (ajuste_form.bs_ajuste ?? 0) > caja_form.bs_saldo_pre))" class="form-control" required>
              <!-- ADVERTENCIAS AJUSTE BS -->
              <div class="advertencias" *ngIf="mostrarAdvertenciasAjuste && ((ajuste_form.bs_ajuste ?? 0) <= 0 && (ajuste_form.ps_ajuste ?? 0) <= 0)">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">Cantidad Invalida</p>
              </div>
              <!-- ADVERTENCIAS AJUSTE BS -->
              <div class="advertencias" *ngIf="mostrarAdvertenciasAjuste && ajuste_form.tipo == 2 && (ajuste_form.bs_ajuste ?? 0) > (caja_form.bs_saldo_pre ?? 0)">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">La Cantidad de Salida no debe ser mayor al Saldo</p>
              </div>
            </div>
            <!-- AJUSTE PS. -->
            <div class="col-6 mb-4 mt-1">
              <label class="form-label">
                <span class="desktop">Ajuste Pesos:</span>
                <span class="movil">Ajuste Ps:</span>
              </label>
              <input type="number" #ps_ajuste="ngModel" [(ngModel)]="ajuste_form.ps_ajuste" name="ps_ajuste" placeholder="" [class.is-invalid]="mostrarAdvertenciasAjuste && 
              ((ajuste_form.ps_ajuste ?? 0) <= 0 && (ajuste_form.bs_ajuste ?? 0) <= 0 || (ajuste_form.tipo == 2 && (ajuste_form.ps_ajuste ?? 0) > caja_form.ps_saldo_pre))" class="form-control" required>
              <!-- ADVERTENCIAS AJUSTE PS -->
              <div class="advertencias" *ngIf="mostrarAdvertenciasAjuste && ((ajuste_form.ps_ajuste ?? 0) <= 0 && (ajuste_form.bs_ajuste ?? 0) <= 0)">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">Cantidad Invalida</p>
              </div>
              <!-- ADVERTENCIAS AJUSTE PS -->
              <div class="advertencias" *ngIf="mostrarAdvertenciasAjuste && ajuste_form.tipo == 2 && (ajuste_form.ps_ajuste ?? 0) > (caja_form.ps_saldo_pre ?? 0)">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">La Cantidad de Salida no debe ser mayor al Saldo</p>
              </div>
            </div>
            <!-- DESCRIPCIÓN -->
            <div class="col-12 mb-4 mt-1">
              <label class="form-label">Descripcion</label>
              <input type="text" #descripcion="ngModel" [(ngModel)]="ajuste_form.descripcion" name="descripcion" placeholder="" [class.is-invalid]="mostrarAdvertenciasAjuste && (ajuste_form.descripcion==null || ajuste_form.descripcion.length == 0)" class="form-control" required>
              <div class="advertencias" *ngIf="mostrarAdvertenciasAjuste && (ajuste_form.descripcion==null || ajuste_form.descripcion.length == 0)">
                <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                <p class="m-0">Agregar Descripción</p>
              </div>
            </div>

            <!-- BOTONES -->
            <div class="modal-footer btn-principal px-1 px-sm-2">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button class="btn btn-secondary" style="border: none;background: #006bb0;" (click)="CREAR_AJUSTE()">Agregar</button>
            </div>
          </form>
      </div>

    </div>
  </div>
</div>

<!-- *************************************************************  MODAL CERRAR CAJA  *****************************************************************  -->
<!-- ***************************************************************************************************************************************************** -->
<div #modalCerrarCaja id="modalCerrarCaja" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center modal-lg-custom">
    <div class="modal-content content-modal">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalLabel">Cerrar Caja</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- FOOTER : BOTON CERRAR -->
      <div class="modal-footer btn-principal">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-secondary" style="border: none;background: #006bb0;" (click)="CERRAR_CAJA()">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<!-- ***************************************************************** MODAL FILTRAR CAJAS ****************************************************************  -->
<!-- ***************************************************************************************************************************************************** -->
<div #modalSelectFecha id="modalSelectFecha" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center modal-lg-custom">
    <div class="modal-content content-modal">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalLabel">Filtrar Cajas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    
        <form #formFecha="ngForm" class="row g-3">
          <div class="col-7 col-sm-8 row m-0 mt-4 p-1">
              <!-- FECHA INICIAL -->
              <div class="col-12 mb-1 mt-0 ms px-0">
                <label class="form-label">Fecha Inicial:</label>
                <input type="date" #fechaIni="ngModel" [(ngModel)]="selectFecha.fechaI" name="fechaIni" [max]="today" [class.is-invalid]="mostrarAdvertenciasFechaI && !isFormValid_Fecha()" required style="width: 100%;" class="form-control">
                <div class="advertencias" *ngIf="mostrarAdvertenciasFechaI && !isFormValid_Fecha()">
                  <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                  <p class="m-0">Fecha Invalida</p>
                </div>
              </div>
              <!-- FECHA FINAL -->
              <div class="col-12 mb-1 mt-0 px-0">
                <label class="form-label">Fecha Final:</label>
                <input type="date" #fechaFin="ngModel" [(ngModel)]="selectFecha.fechaF" [max]="today" [class.is-invalid]="mostrarAdvertenciasFecha && !isFormValid_Fecha()" name="fechaFin" class="form-control"  required style="width: 100%;">
                <div class="advertencias" *ngIf="mostrarAdvertenciasFecha && !isFormValid_Fecha()">
                  <img src="../assets/images/icons/icon-options/advertencia.png" style="width: 20px; margin-right: 8px;">
                  <p class="m-0">Fecha Invalida</p>
                </div>
              </div>
          </div>



          <div class="col-5 col-sm-4 m-0 mt-4 px-1 d-flex flex-column justify-content-evenly atajos">
            <button type="button" class="btn btn-secondary px-0" (click)="seleccionar_Atajo(7)">Últimos 7 días</button>
            <button type="button" class="btn btn-secondary px-0" (click)="seleccionar_Atajo(15)">Últimos 15 días</button>
            <button type="button" class="btn btn-secondary px-0" (click)="seleccionar_Atajo(30)">Últimos 30 días</button>
          </div>

          <!-- BOTONES -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-secondary" style="border: none;background: #2b5480;" (click)="FILTRAR_CAJA()">Filtrar</button>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>


<!-- *************************************************************  MODAL REPORTE CAJA  *****************************************************************  -->
<!-- ***************************************************************************************************************************************************** -->
<div #modalReporteCaja id="modalReporteCaja" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (hidden.bs.modal)="cerrarModal_Reporte()">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center modal-lg-custom">
    <div class="modal-content content-modal" style="background: #414b56">
      <div class="modal-header py-2">
        <h1 class="modal-title fs-4" id="exampleModalLabel">Reporte de Caja</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-2" style="font-weight: 400; letter-spacing: 1px;">
    <!-------------------------------- FECHAS - CI USUAIRO -------------------------------->
        <!-- DATOS APERTURA Y CIERRE -->
        <div class="section-inicio row m-0 mb-3">
          <!-- APERTURA -->
          <div class="col-6 row m-0 py-2 py-sm-1" style="background: #3a5859;">
              <div class="col-12 px-0">
                <h5 style="font-weight: bold;">Apertura</h5>
              </div>
              <div class="col-12 row m-0 px-0">
                <div class="col-12 col-sm-4 px-0"><b>Fecha</b></div>
                <div class="col-12 col-sm-8 px-0">{{caja.fecha_i}}  {{caja.hora_i}}</div>
              </div>
              <div class="col-12 row m-0 px-0">
                <div class="col-12 col-sm-4 px-0"><b>Usuario</b></div>
                <div class="col-12 col-sm-8 px-0">{{caja.ci_usuario_i}}</div>
              </div>
          </div>
          <!-- CIERRE -->
          <div class="col-6 row m-0 py-2 py-sm-1" style="background: #594646;">
              <div class="col-12 px-0">
                <h5 style="font-weight: bold;">Cierre</h5>
              </div>
              <div class="col-12 row m-0 px-0">
                <div class="col-12 col-sm-4 px-0"><b>Fecha</b></div>
                <div class="col-12 col-sm-8 px-0">{{caja.fecha_c}}  {{caja.hora_c}}</div>
              </div>
              <div class="col-12 row m-0 px-0">
                <div class="col-12 col-sm-4 px-0"><b>Usuario</b></div>
                <div class="col-12 col-sm-8 px-0">{{caja.ci_usuario_c}}</div>
              </div>
          </div>
        </div>
    <!------------------------------ SALDO INICIAL ----------------------------------------->
        <!-- SALDO INICIAL -->
        <div class="section-saldoi row m-0 mb-4">
          <!-- APERTURA -->
          <div class="col-12 col-sm-6 row m-0 px-0 mb-2 mb-sm-0" style="display: flex; align-items: center; border-bottom: 2px solid #7e7e7e">
              <h5 class="col-5 m-0 px-0">Saldo Incial</h5>
              <div class="col-3 row m-0 px-0">
                  <div class="col-3 px-0">Bs. </div>
                  <div class="col-9 px-0 ps-1">{{caja.bs_saldoi}}</div>
              </div>
              <div class="col-4 row m-0 px-0">
                  <div class="col-3 px-0">Ps. </div>
                  <div class="col-9 px-0 ps-1">{{caja.ps_saldoi}}</div>
              </div>
          </div>
          <!-- TIPO DE CAMBIO -->
          <div class="col-12 col-sm-6 row m-0 px-0" style="display: flex; align-items: center; border-bottom: 2px solid #7e7e7e">
              <h5 class="col-5 col-sm-6 m-0 px-0">Tipo de Cambio</h5>
              <span class="col-4 col-sm-6 px-0">{{caja.tipo_cambio}}</span>
          </div>
        </div>

                                                                    
    <!---------------------- BOTONES:: SALDOS CONTABLES - AJUSTES CAJA --------------------->
        <!-- BOTONES VISTA -->
        <div class="section-botones mb-0" style="display: flex; justify-content: flex-end; background: #46515e; border-bottom: 1px solid #7e7e7e7d;">
          <button class="btn px-1 px-sm-2" (click)="cambiarVista_Reporte(1)" [ngStyle]="vista_reporte==1 ? {'background': '#56626f'} : {}">
            Saldos Contables
          </button> 
          <button class="btn px-1 px-sm-2" (click)="cambiarVista_Reporte(2)" [ngStyle]="vista_reporte==2 ? {'background': '#56626f'} : {}">
            Ajustes de Caja
          </button>
        </div>

        <!-- SALDOS CONTABLES -->
        <div class="saldos-contables pt-3" *ngIf="vista_reporte==1">
          <!-- DATOS INGRESOS Y EGRESOS -->
          <div class="section-ingreso-egreso row m-0 mb-4" style="border-bottom: 1px solid #7e7e7e7d;">
            <!-- INGRESO POR VENTAS -->
            <div class="col-4 row m-0 px-0 px-sm-3">
                <h5 class="col-12 px-0" style="color: #73b574;"> <span class="desktop">Ingresos por Ventas</span> <span class="movil">Ingresos</span></h5>
                <div class="col-12 row m-0 px-0">
                  <div class="col-3 col-sm-6 px-0"> <span class="desktop">Bolivianos</span> <span class="movil">Bs.</span> </div>
                  <div class="col-9 col-sm-6 px-0" style="color: #73b574;">{{caja.bs_ingreso | number}}</div>
                </div>
                <div class="col-12 row m-0 px-0">
                  <div class="col-3 col-sm-6 px-0"> <span class="desktop">Pesos</span> <span class="movil">Ps.</span> </div>
                  <div class="col-9 col-sm-6 px-0" style="color: #73b574;"> {{caja.ps_ingreso | number}} </div>
                </div>
                <div class="col-12 row m-0 px-0">
                  <div class="col-3 col-sm-6 px-0" ><span class="desktop">Banca</span> <span class="movil">Bc.</span></div>
                  <div class="col-9 col-sm-6 px-0" style="color: #73b574;">{{caja.banca_ingreso | number}}</div>
                </div>
            </div>
            <!-- EGRESOS -->
            <div class="col-4 row m-0 px-0 px-sm-3" style="display: flex; align-content: flex-start;">
              <h5 class="col-12 px-0" style="color:#b5686a">Egresos</h5>
              <div class="col-12 row m-0 px-0">
                <div class="col-3 col-sm-6 px-0"><span class="desktop">Bolivianos</span> <span class="movil">Bs.</span> </div>
                <span class="col-9 col-sm-6 px-0" style="color: #b5686a;">{{caja.bs_egreso | number}}</span>
              </div>
              <div class="col-12 row m-0 px-0">
                <div class="col-3 col-sm-6 px-0"><span class="desktop">Pesos</span> <span class="movil">Ps.</span> </div>
                <div class="col-9 col-sm-6 px-0" style="color: #b5686a;">{{caja.ps_egreso | number}}</div>
              </div>
            </div>
            <!-- SALDO PRELIMINAR -->
            <div class="col-4 row m-0 px-0 px-sm-3" style="display: flex; align-content: flex-start;">
              <h5 class="col-12 px-0" style="color:powderblue"><span class="desktop">Saldo Preliminar</span> <span class="movil">Saldo Pre.</span></h5>
              <div class="col-12 row m-0 px-0">
                <div class="col-3 col-sm-6 px-0"> <span class="desktop">Bolivianos</span> <span class="movil">Bs.</span> </div>
                <div class="col-9 col-sm-6 px-0" style="color: powderblue;">{{caja.bs_saldo_pre | number}}</div>
              </div>
              <div class="col-12 row m-0 px-0">
                <div class="col-3 col-sm-6 px-0"> <span class="desktop">Pesos</span> <span class="movil">Ps.</span> </div>
                <span class="col-9 col-sm-6 px-0" style="color: powderblue;">{{caja.ps_saldo_pre | number}}</span>
              </div>
            </div>
          </div>
          <!-- COSTO DE INSUMOS Y SALDO BRUTO-->
          <div class="section-insumo-bruto row m-0 mb-4" style="border-bottom: 1px solid #7e7e7e7d;">
            <!-- COSTO DE INSUMOS -->
            <div class="col-12 row m-0 px-0 px-sm-3">
              <h5 class="col-7 col-sm-4 px-0" style="color:#b5686a">Costo de Insumos</h5>
              <div class="col-5 col-sm-4 row m-0 px-0">
                <div class="col-3 col-sm-6 px-0"> <span class="desktop">Bolivianos</span> <span class="movil">Bs.</span> </div>
                <div class="col-9 col-sm-6 px-0">{{caja.bs_insumo | number}}</div>
              </div>
              <!-- <div class="col-4">
                <label style="width: 50%;">Pesos</label>
                <span style="color: #b5686a;">{{caja.ps_insumo | number}}</span>
              </div> -->
            </div>
            <!-- SALDO BRUTO -->
            <div class="col-12 row m-0 px-0 px-sm-3">
              <h5 class="col-7 col-sm-4 px-0">Ganancia Bruta</h5>
              <div class="col-5 col-sm-4 row m-0 px-0">
                <div class="col-3 col-sm-6 px-0"> <span class="desktop">Bolivianos</span> <span class="movil">Bs.</span> </div>
                <div class="col-9 col-sm-6 px-0">{{caja.bs_bruto | number}}</div>
              </div>
              <!-- <div class="col-4">
                <label style="width: 50%;">Pesos</label>
                <span>{{caja.ps_bruto | number}}</span>
              </div> -->
            </div>
          </div>
          <!-- SALDO FINAL , DESCUENTO , IVA-->
          <div class="section-insumo-bruto row m-0 mb-4">
            <!-- IVA -->
            <!-- <div class="col-12 row m-0">
              <h6 class="col-4" style="color:#b5686a">Iva</h6>
              <div class="col-4">
                <label style="width: 50%;">Bolivianos</label>
                <span style="color: #b5686a;">{{caja.bs_iva | number}}</span>
              </div>

            </div> -->
            <!-- DESCUENTOS -->
            <div class="col-12 row m-0 px-0 px-sm-3">
              <h5 class="col-7 col-sm-4 px-0" style="color:#b5686a">Descuento de Ventas</h5>
              <div class="col-5 col-sm-4 row m-0 px-0">
                <div class="col-3 col-sm-6 px-0"> <span class="desktop">Bolivianos</span> <span class="movil">Bs.</span> </div>
                <div class="col-9 col-sm-6 px-0">{{caja.bs_descuento | number}}</div>
              </div>
              <!-- <div class="col-4">
                <label style="width: 50%;">Pesos</label>
                <span style="color: #b5686a;">{{caja.ps_descuento | number}}</span>
              </div> -->
            </div>
            <!-- SALDO FINAL -->
            <div class="col-12 row m-0 px-0 px-sm-3">
              <h5 class="col-7 col-sm-4 px-0">Saldo Final</h5>
              <div class="col-5 col-sm-4 row m-0 px-0">
                <div class="col-3 col-sm-6 px-0"> <span class="desktop">Bolivianos</span> <span class="movil">Bs.</span> </div>
                <div class="col-9 col-sm-6 px-0">{{caja.bs_saldo_final | number}}</div>
              </div>
              <!-- <div class="col-4">
                <label style="width: 50%;">Pesos</label>
                <span>{{caja.ps_saldo_final | number}}</span>
              </div> -->
            </div>
          </div>
        </div>

        <!-- AJUSTES DE CAJA -->
         <div class="lista-ajustes" *ngIf="vista_reporte==2">
            <ul class="list-group p-0" style="border: none;">       
              <!-- TITULOS -->
              <li class="list-group-item d-flex flex-column justify-content-center px-0 px-md-3 px-lg-4" style="min-height: 49px;">
                <div class="row mx-0 d-flex align-items-center">
                  <!-- N° , USUARIO , FECHA  -->
                  <div class="col-3 col-lg-3 row mx-0 px-0">
                    <!-- DESKTOP - AJUSTE -->
                    <div class="desktop-ajuste col-4 px-0">USUARIO</div>
                    <div class="desktop-ajuste col-8 px-0 text-center">FECHA</div>
                    <!-- DESKTOP - MOVIL -->
                    <div class="movil-ajuste col-12 px-0 text-center">USUARIO</div>               
                  </div>
                  <!-- SALDOS -->
                  <div class="col-6 col-lg-5 row mx-0 px-0">
                    <!-- DESKTOP - AJUSTE -->
                    <div class="desktop-ajuste col-4 px-0">ANTERIOR</div>
                    <div class="desktop-ajuste col-4 px-0">AJUSTE</div>
                    <div class="desktop-ajuste col-4 px-0">SALDO</div>
                    <!-- DESKTOP - MOVIL -->
                    <div class="movil-ajuste col-12 px-0 text-center">AJUSTE CAJA</div>
                  </div>
                  <!-- DESCRIPCION -->
                  <div class="col-3 col-lg-4 px-0 p-0">DESCRIPCION</div>
                </div>
              </li>
              <!-- LISTA DE CAJAS -->
              <li class="list-group-item px-0 px-md-3 py-2 py-lg-0" *ngFor="let j of lista_ajustes | paginate: { itemsPerPage: 4, currentPage: page_ajuste }; let i = index">
                <div class="row mx-0 d-flex align-items-center">
                  <!-- N° , USUARIO , FECHA  -->
                  <div class="col-3 col-lg-3 row mx-0 px-0">
                        <div class="col-12 col-lg-4 px-0 text-center">{{j.ci_usuario}}</div>
                        <div class="col-12 col-lg-8 px-0 text-center">
                            <span style="overflow-wrap: break-word;">{{j.fecha}}</span> <br>  <span>{{j.hora}}</span>
                        </div>
                  </div>
                  <!-- SALDOS -->
                  <div class="col-6 col-lg-5 row mx-0 px-0">
                      <!-- ANTERIOR -->
                      <div class="col-12 col-lg-4 row m-0 px-0">
                        <div class="col-12 px-0 movil-ajuste text-center" style="font-weight: bold;">Anterior</div>
                        <div class="col-6 col-lg-12 px-0"> <span class="moneda">Bs.</span> {{j.bs_saldo_pre | number}}</div>
                        <div class="col-6 col-lg-12 px-0"> <span class="moneda">Ps.</span> {{j.ps_saldo_pre | number}}</div>
                      </div>
                      <div class="movil-ajuste" style="border-bottom: 1px dashed  #797979;"></div>
                      <!-- AJUSTE -->
                      <div class="col-12 col-lg-4 row m-0 px-0">
                            <div class="col-12 px-0 movil-ajuste text-center" style="font-weight: bold;">Ajuste</div>
                            <div class="col-6 col-lg-12 px-0"><span class="moneda">Bs. </span> 
                              <span *ngIf="j.tipo==1">+{{j.bs_ajuste | number}}</span>
                              <span *ngIf="j.tipo==2">-{{j.bs_ajuste | number}}</span>
                            </div>
                            <div class="col-6 col-lg-12 px-0"><span class="moneda">Ps. </span> 
                              <span *ngIf="j.tipo==1">+{{j.ps_ajuste | number}}</span>
                              <span *ngIf="j.tipo==2">-{{j.ps_ajuste | number}}</span>
                            </div>  
                      </div>
                      <div class="movil-ajuste" style="border-bottom: 1px dashed #797979;"></div>
                      <!-- SALDO  -->
                      <div class="col-12 col-lg-4 row m-0 px-0">
                        <div class="col-12 px-0 movil-ajuste text-center" style="font-weight: bold;">Saldo</div>
                        <div class="col-6 col-lg-12 px-0"><span class="moneda">Bs.</span> {{j.bs_saldo | number}}</div>
                        <div class="col-6 col-lg-12 px-0"><span class="moneda">Ps.</span> {{j.ps_saldo | number}}</div>   
                      </div>
                  </div>
                  <!-- DESCRIPCION -->
                  <div class="col-3 col-lg-4 mx-0 px-0 d-flex">
                    <span class="p-0" *ngIf="j.tipo==1">Entrada:: {{j.descripcion}}</span>
                    <span class="p-0" *ngIf="j.tipo==2">Salida:: {{j.descripcion}}</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item custom-pagination py-2">
                <!-- Controles de paginación -->
                <pagination-controls 
                (pageChange)="page_ajuste = $event" 
                previousLabel="Anterior" 
                nextLabel="Siguiente"        
                style="text-align: center;">
               </pagination-controls>
              </li>
            </ul>
         </div>

    <!--------------------- FOOTER - BOTONES ------------------------------------------------>
      <!-- FOOTER : BOTON CERRAR -->
      <div class="modal-footer btn-principal p-1">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>



