/************************************** MENSAJE TOAST ****************************************/
#toast {
  position: fixed;
  bottom: 20px;          /* separación desde abajo */
  left: 50%;
  transform: translateX(-50%);
  
  min-width: 30%;            /* DESKTOP */
  max-width: 500px;      /* opcional: no se expande demasiado */
  user-select: none;
  /* visibility: visible;
  display: block; */

  z-index: 99999;        /* siempre arriba */
}

#toast .toast-body {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #f3f3f3;
  font-size: 18px;
  letter-spacing: 1px;
}

#toast img {
  width: 30px;
}
.container-agregar button,.container-buscador button, .modificar {
  font-weight: 500;
  font-size: 17px;
  background: #004d81;
  border: none;
  height: 36px;
  padding: 0 15px;
}
.container-opciones img{
  width: 20px;
}
/************************************** STYLES EN COMUN ****************************************/
.container-opciones{
  background: #212837;
  width: 100%;
  height: 45px;
}
.container_volver img{
  width: 35px;
}
/* LISTAS GENERAL*/
.container-lista{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  overflow: auto;
  max-height: 77vh;
  min-height: 50vh;
  margin: 18px 0px;
  letter-spacing: 1px;
}


.container-lista ul{
  border: none;
  width: 95%;
}
.container-lista ul li{
  font-size: 18px;
  font-weight: 400;
  min-height: 49px;
  padding: 0px;
  color: #dcdcdc;
  background: #252d3c;
  border: none;
  border-bottom: 1px solid #545252ee;
}
.container-lista .cell{
  border-right: 1px solid #424347;
  padding: 3px 0px 2px 5px;
  min-height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-lista .cell-t{
  border-right: 1px solid #424347;
  padding: 3px 0px 2px 5px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-lista .container-btn img{
  width: 30px;
}

/*****************************************************************/

.btn-group{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 88px;
  padding: 0 5px;
}
/* ESTILOS PARA PESO ARGENTINO Y BANCO */
.moneda{
  /* padding-right: 8px; */
  font-weight: 600;
  color: #f2f2f2;
}
/*************************************************** MODALES *************************************/
/* GENERAL */
.content-modal{
  background: #202e41;
  color: #f3f3f3;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.content-modal .modal-header{
  border-bottom: 1px solid #727272;
}
.content-modal .modal-footer{
  border-top: 1px solid #727272;
}
.custom-ng-select {
  color: #cdcccc;
  font-size: 16px;
  background: #ffffff21;
  border: none;
  padding: 3px 12px;
  width: 100%;
  border-radius: 5px;
}
/* OPCIONES NGSELECT */
::ng-deep .custom-ng-select .ng-option {
  background-color: #2c3037; 
  color: #f4f4f4;
  padding: 2px;
}

.btn-principal button{
  border: none;
  font-size: 18px;
  font-weight: 600;  
}


#modalCaja .modal-lg-custom {
  max-width: 55%; 
  margin: auto;
}
#modalAjuste .modal-lg-custom {
  max-width: 85%; 
  margin: auto;
}
#modalCerrarCaja .modal-lg-custom {
  max-width: 30%; 
  margin: auto;
}
#modalSelectFecha .modal-lg-custom {
  max-width: 40%; 
  margin: auto;
}
#modalSelectFecha .atajos button{
  border: none;
  background: #156680;
  border-radius: 4px;
  margin: 3px 0;
  width: 100%;

}

#modalAjuste .saldo_pre{
  width: 50%;
  text-align: center;
  background: #3a5376;
  border-radius: 4px; 
  font-size: 19px; 
  letter-spacing: 2px; 
  min-height: 60px;
}

.opciones-lista{
  max-height: 77vh;
  min-height: 20vh;
}
.opciones-lista ul{
  border: none;
  width: 100%;
}

/****************************** REPORTE CAJA *********************************/
#modalReporteCaja .modal-lg-custom {
  max-width: 95%; 
  margin: auto;
}
#modalReporteCaja .section-botones button{
  color: #f3f3f3;
  font-size: 17px;
  letter-spacing: 1px;
}
.section-botones button:hover{
  background: #56626f;
}
.saldos-contables{
  max-height: 77vh;
  min-height: 35vh;
}
.lista-ajustes{
  display: flex;
  justify-content: center;
  /* overflow: auto;
  max-height: 77vh;
  min-height: 35vh; */
  margin: 0px;
}
.lista-ajustes ul{
  border: none;
  width: 100%;
}
.lista-ajustes ul li{
  padding: 0px 0px 0px 16px;
  color: #dcdcdc;
  min-height: 65px;
  background: #46515e00;
  border: none;
  border-bottom: 2px solid #7e7e7e;
}
.lista-ajustes .cell{
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}





/************************* FORMS(INPUTS - OPTIONS) ************************/
.custom-select{
  width: 100%;
  border-radius: 7px;
  padding: 3px 7px;
}
.content-modal form input[type="text"],
.content-modal form input[type="password"],
.content-modal form input[type="number"],
.content-modal form input[type="date"],
.custom-select{
  color: #cdcccc;
  font-size: 18px;
  background: #2a3c55;
  border: none; /* Borde transparente por defecto */
  padding: 3px 12px;
  letter-spacing: 1px;
}
/* Estilos para el select option */
.custom-select option{
  color: #eaeaea;
  background: #3c4756;
}
.content-modal form input[type="text"]::placeholder,
.content-modal form input[type="password"]::placeholder,
.content-modal form input[type="number"]::placeholder {
  font-size: 15px;
  color: #c0c0c04b; /* Cambia el color según tu preferencia */
}
/* CHECK - BOX GRANDE */
.checkbox-grande {
  transform: scale(1.5); /* Ajusta el valor según el tamaño que desees */
  -webkit-transform: scale(1.7);
  background-color: #555F6D;
  border: none;
}






/********************************************* ADVERTENCIAS ******************************************/
/*****************************************************************************************************/

/*Estilo de advertencias para la validacion de formulario*/
.advertencias {
  margin-top: 4px;
  color: salmon;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  line-height: 1; /* Asegura que el texto no tenga espacio extra */
}
.advertencias img {
  display: inline-block;
  vertical-align: middle; /* Asegura que la imagen esté alineada verticalmente */
}
.advertencias p {
  margin: 0; /* Elimina el margen extra que podría desalinear el texto */
  line-height: 1.2; /* Ajusta la altura de línea para el texto */
}

.is-invalid {
  border-color: #c77e76  !important; /* Color del borde */
  border: 1px solid #c77e76 !important;
  /* box-shadow: 0 0 5px rgba(250, 128, 114, 0.5); Sombra del borde difusa */
}

/****************************** SCROLL BAR INVISIBBLE  **************************************/
.container-lista::-webkit-scrollbar {
  width: 0.2em;
  background-color: #333333; /* Cambia el color de fondo del scroll */
}

.container-lista::-webkit-scrollbar-thumb {
  background-color: #8888888c; /* Cambia el color del thumb del scroll */
}


/********************************************* PAGINACION *******************************************/
/* :host ::ng-deep .pagination-first::before,
:host ::ng-deep .pagination-last::after {
  content: '' !important;
}

:host ::ng-deep .pagination-previous::before,
:host ::ng-deep .pagination-next::after {
  content: '' !important;
} */



:host ::ng-deep .custom-pagination a:focus,
:host ::ng-deep .custom-pagination a:hover {
  background-color: #3a7693 !important;
  color: #ffffff !important;
  /* border: 1px solid #5a5a5a !important; */
  outline: none !important;
}


::ng-deep .ngx-pagination {
  margin-bottom: 0 !important; /* Elimina el margen inferior */
}

ul.list-group {
  margin-left: 0 !important;
  padding-left: 0 !important;
}




.desktop, .desktop-ajuste{
  display: block;
}
.movil, .movil-ajuste{
  display: none;
}

/* 
md = 768px 
lg = 992px
*/

@media(max-width:992px){
  .desktop-ajuste{
    display: none;
  }
  .movil-ajuste{
    display: block;
  }
}

@media(max-width:1000px){
  .container-lista ul li .container-estado div{
    font-size: 15px;
  }
  #modalCaja .modal-lg-custom{
    max-width: 70%; /* Puedes ajustar este valor según lo necesites */
    font-size: 12px;
  }
  #modalSelectFecha .modal-lg-custom {
    max-width: 55%; 
  }
}

@media(max-width:800px){
  .desktop{
    display: none;
  }
  .movil{
    display: block;
  }

  /*** Encabezado ***/
  .container-buscador input{
    width: 90px;
  }
  .container-agregar button {
    font-size: 15px;
  }
  .container_volver img{
    width: 30px;
  }
  .container-lista ul li{
    font-size: 15px;
  }
  .container-lista ul li h3{
    font-size: 17px;
  }
  .container-buscador input[type="text"]::placeholder{
    font-size: 15px;
    color: #d6d6d6a2;
  }

  /* GENERAL */
  .content-modal{
    font-size: 15px;
  }

  .content-modal form input[type="text"],
  .content-modal form input[type="password"],
  .content-modal form input[type="number"],
  .content-modal form input[type="date"],
  .custom-select{
  font-size: 15px;
  padding: 3px 4px;
  }
  #modalSelectFecha .atajos button{
    font-size: 14px;
  }
  #modalCaja .modal-lg-custom, #modalCerrarCaja .modal-lg-custom, #modalAjuste .modal-lg-custom{
    max-width: 100%; /* Puedes ajustar este valor según lo necesites */
    font-size: 12px;
  }
  #modalSelectFecha .modal-lg-custom {
    max-width: 70%; 
    font-size: 12px;
  }
  #modalProductoUnico .insumo label, #modalProductoUnico .cantidad-insumo label{
    width: 120px;
  }
  #modalAjuste .saldo_pre{
    font-size: 15px; 
  }
  #modalReporteCaja .modal-lg-custom {
    max-width: 100%; 
  }
  
  #modalReporteCaja .modal-lg-custom h5, #modalReporteCaja .section-botones button{
    font-size: 16px;
  }

  #toast{
    width: 99%;
  }
}

@media(max-width:500px){
  #modalSelectFecha .modal-lg-custom {
    max-width: 100%; 
  }
  .lista-ajustes ul li{
    font-size: 12px;
  }
}
@media(max-width:300px){
  .container-lista ul li{
    font-size: 11px;
  }
  .container-lista ul li .container-estado div{
    font-size: 10px;
  }
  .container-lista .cell{
    border-right: 1px solid #424347;
    padding: 3px 0px 2px 3px;
  }
  /* GENERAL */
  .content-modal{
    font-size: 13px;
  }
  #modalReporteCaja .modal-lg-custom h5, #modalReporteCaja .section-botones button{
    font-size: 14px;
  }
}
