/* CARDS PRINCIPALES */
.container-cards{
  display: flex;
  flex-wrap: wrap;
}
.container-cards .card{
  display: flex;
  width: 18%;
  margin: 10px;
  color: #f4f4f4;
  background: #283042;
}
.card .card-text{
  height: 85px;
}
.card button,.container-agregar button {
  font-weight: 600;
  background: #28526b;
  border: none;
}


.card img{
  width: 100px;
}

.card h5{
  margin-top: 10px;
}




@media(max-width:1000px){
  .card img{
    width: 70px;
  }
  .container-cards .card{
    width: 23%;
  }
}



@media(max-width:700px){
  .card img{
    width: 30px;
  }
  .container-cards .card{
    width: 45%;
  }
  .container-cards .card h5{
    font-size: 15px;
  }
  .container-cards .card button{
    font-size: 12px;
  }
}


@media(max-width:350px){
  .container-cards .card{
    width: 100%;
  }
}
